.post {
    width: 68%;
    display: block;
    margin: 0% 16% 0% 16%;
}

.post-title {
    font-size: 36px;
    color: white;
    font-weight: bolder;
    line-height: 0;
}

.post-caption {
    font-size: 24px;
    line-height: 0;
    font-weight: lighter;
}

.post-date {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-size: 20px;
}

.post-text {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 20px;
    color: white;
}

.post-hr {
    width: 68%;
    height: 1px;
    border: none;
    opacity: 0.1;
    background-color: white;
}

#page-desc {
    text-align: center;
    font-size: 20px;
    color: white;
}

#video {
    width: 556px;
    margin: 0% 16% 0% 16%;
}