.post {
    margin: 200px;
    width: 600px;
}

.post-title {
    font-size: 48px;
    color: #404040;
    font-weight: bolder;
}

.post-caption {
    font-size: 32px;
}

.post-date {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-size: 24px;
}

.post-text {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 24px;
}

.post-hr {
    width: 600px;
    height: 1px;
    color: #515151;
}

#page-desc {
    text-align: center;
    font-size: 20px;
    color: #515151;
}